<!DOCTYPE html>
<head>
    <title>Login page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Login page</h1>
    <form action='/auth/' method='POST'>
        <input type='text' name='username' placeholder="Username"/><br>
        <input type='password' name='password' placeholder="Password"/><br>
        <input type='submit' value='Log in'/>
    </form>
    <% if (locals.error) { %>
        <h3><%= error %></h3>
    <% } %>
    <p>Not registered yet?</p>
    <a href="/auth/register">Sign in</a>
</body>