<!DOCTYPE html>
<html>
  <head>
    <title>Game page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Game page</h1>
    <p>Found game <%= game_uuid %></p>
    <a href="/auth" onclick="logout();">Logout</a>
    <script src="/javascripts/logout.js"></script> 
  </body>
</html>