<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home page</h1>
    <p>Welcome <%= username %></p>
    <a href="/game/match">Search a game</a><br>
    <a href="/auth" onclick="logout();">Logout</a>
    <script src="/javascripts/logout.js"></script> 
  </body>
</html>
