<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome <%= token.username %></h1>
    <h3>Your elo : <%= token.elo %></h3>
    <h2>Active games :</h2>
    <% for (game_uuid of token.games) { %>
      <a href="/game/play/<%= game_uuid %>">game <%= game_uuid %></a><br>
    <% } %>
    <br>
    <a href="/game/matchmaking">Search a game</a><br>
    <a href="/auth" onclick="logout();">Logout</a>
    <script src="/javascripts/logout.js"></script> 
  </body>
</html>
