<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Game <%= game.game_uuid %></h1>
    <h2>White : <%= game.white %></h2>
    <h2>Black : <%= game.black %></h2>
    <a href="/game">Back</a><br>
  </body>
</html>