<!DOCTYPE html>
<html>
  <head>
    <title>Game page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body onload="searchGame();">
    <h1>Game page</h1>
    <p id="search-output">Searching for game ...</p>
    <a id="ref-id" href="/game/matchmaking/stop">Stop matchmaking</a>
    <script src="/javascripts/game_utils.js"></script> 
  </body>
</html>